.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-2);
  box-shadow: 0 2rem 5rem var(--opacity-mid);
  border-radius: 3px; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: white;
  border-bottom: 2px solid var(--grey-light-3);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 150px;
  padding: 3.5rem 0rem; }

.hotel-view {
  height: 80rem;
  flex: 0 0 82%; }

.logo {
  height: 3.25rem;
  margin-left: 3%; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    border: none;
    font-weight: inherit;
    font-size: inherit;
    padding: .7rem;
    padding-left: 2rem;
    border-radius: 100px;
    background-color: var(--grey-light-2);
    width: 90%;
    transition: width .3s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3); }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--grey-light-4); }
  .search__button {
    background-color: transparent;
    border: none;
    transition: all .3s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
    .search__button-icon {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      fill: var(--grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center;
  height: 100%; }
  .user-nav__icon-box {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: stretch;
    position: relative;
    gap: .8rem; }
    .user-nav__icon-box:hover {
      background-color: var(--grey-light-3); }
  .user-nav__icons {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--grey-dark-3); }
  .user-nav__popup {
    background-color: var(--color-primery);
    font-size: .8rem;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user {
    display: flex;
    align-items: center; }
    .user-nav__user-img {
      height: 3rem;
      width: 3rem;
      border-radius: 50%; }
    .user-nav__user-name {
      font-weight: 500; }

.sidebar__list {
  list-style: none;
  font-size: 1.4rem;
  color: var(--grey-light-1); }
  .sidebar__list > *:not(:last-child) {
    margin-bottom: .3rem; }
  .sidebar__list-box {
    padding: 1.8rem;
    position: relative;
    transition: all .5s; }
    .sidebar__list-box::before {
      content: "";
      height: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-primery);
      width: 3px;
      transform: scaleY(0);
      transform-origin: center;
      transition: transform 0.2s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.2s; }
    .sidebar__list-box:hover::before {
      transform: scaleY(1);
      width: 100%;
      cursor: pointer; }
    .sidebar__list-box:active::before {
      background-color: var(--color-primery-dark); }
  .sidebar__list-link {
    text-decoration: none;
    color: var(--grey-light-1);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 2;
    position: relative; }
  .sidebar__list-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: currentColor; }

.copyright {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--grey-light-4);
  opacity: .7; }

.gallary {
  display: flex; }
  .gallary__box {
    background-color: white; }
    .gallary__box img {
      width: 100%;
      display: block; }

.review {
  display: flex;
  align-items: center;
  color: var(--color-primery);
  width: 100%;
  height: 8rem;
  background-color: #fff; }
  .review__title {
    font-size: 3rem;
    color: var(--grey-dark-1);
    margin-left: 3rem; }
  .review__star-container {
    display: flex;
    margin-right: auto;
    margin-left: 2rem; }
  .review__star-icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor; }
  .review__location {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .review__location span {
      border-bottom: 1px solid; }
  .review__votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    background-color: var(--color-primery);
    color: white;
    align-self: stretch;
    padding-bottom: 2rem;
    margin-left: 2rem; }
    .review__votes > :first-child {
      font-size: 3rem; }

/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primery:#eb2f64;
  --color-primery-light:#FF3366;
  --color-primery-dark:#BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --opacity-low: rgba(0, 0, 0, .3);
  --opacity-mid: rgba(0, 0, 0, .5);
  --opacity-high: rgba(0, 0, 0, .7); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primery), var(--color-primery-dark));
  color: var(--grey-dark-1);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-repeat: no-repeat;
  min-height: 100vh; }
