// logo that is in the header
.logo{
    height: 3.25rem;
    margin-left: 3%;
}

// the form that contains search bar and search icon
.search{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__input{
        border: none;
        font-weight: inherit;
        font-size: inherit;
        padding:.7rem;
        padding-left: 2rem;
        border-radius: 100px;
        background-color: var(--grey-light-2);
        width: 90%;
        transition: width .3s;
        margin-right: -3.5rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--grey-light-3);
        }

        &::placeholder{
            font-weight: 100;
            color: var(--grey-light-4);
        }

    }

    &__button{
        background-color: transparent;
        border: none;
        transition: all .3s;

        &:focus{
            outline: none;
        }
        &:active{
            transform: translateY(2px);
        }
        &-icon{
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            fill: var(--grey-dark-3);
        }
    }
}

// last part of the header. This is where all the navigations in the header exists including user icon
.user-nav{
    display: flex;
    align-items: center;
    height: 100%;
    // the individual boxs that contain the icons and the popup notification also user img
    &__icon-box{
        // using padding so i don't need to justify
        padding: 0 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        align-self: stretch;
        position: relative;
        gap: .8rem;
        &:hover{
            background-color: var(--grey-light-3);
        }
    }

    // the svg icons of nav in header
    &__icons{
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--grey-dark-3);
    }

    // the popup of the icon
    &__popup{
        background-color: var(--color-primery);
        font-size: .8rem;
        border-radius: 50%;
        height: 1.75rem;
        width: 1.75rem;
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    // the container of user info
    &__user{

        display: flex;
        align-items: center;

        &-img{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }    
        &-name{
            font-weight: 500;
        }
    }
}