
// container should be 90% of the entire body and contains all the elements in the page
.container{
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    background-color: var(--grey-light-2);
    box-shadow: 0 2rem 5rem var(--opacity-mid);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

// the one and only header that contains logo, form-input, nav-icons, user-img
.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: white;
    border-bottom: 2px solid var(--grey-light-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// contains the left side bar and the main section of the container
.content{
    display: flex;
    flex: 1;
}

// huge sidebar in the left side of the container that has 100% height
.side-bar{
    // background-color: var(--grey-dark-1);
    flex: 0 0 18%;
}

// main area of the container that includes all the details of the hotel
.hotel-view{
    flex: 1;
}